
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Modernize Your Site: Building a YouTube Video Background  </title>
  <meta name="author" content="Sam Norton">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">


  <link rel="stylesheet" href="assets/normalize.css">
  <link rel="stylesheet" href="assets/top.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic|Raleway:400,200,300,500,700,600,800,900' rel='stylesheet' type='text/css'>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/header.css"> <!-- Resource style -->
  <link rel="stylesheet" href="assets/static.css">

  <script src="assets/jquery-1.11.1.min.js"></script>
  <script src="assets/device.min.js"></script> <!--OPTIONAL JQUERY PLUGIN-->
  <script src="assets/header.js"></script> <!-- Resource jQuery -->



  <meta name="robots" content="noindex,follow" />
</head>

<body>

  <%= render 'layouts/header' %>

  <div class="pattern"></div>
  <div class="static_container">
        <div class="embed_wrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/LOmOv6rIGxg" frameborder="0" allowfullscreen></iframe></div>
    <h1>小千谷紬</h1>
    <p>小千谷縮の技法を活かして、江戸時代中期に織り始められた絹織物。</p>
    <p>原料は玉糸と真綿の手紡ぎ糸で、絹独特の光沢と肌触りの良さ、軽く温かみのある地風が­魅力の絣織物である。</p>
    <p手摺(てす)り込みによる緯総絣（よこそうがすり）の技法を駆使した絣模様は多彩で素­朴な味わいがあり、着姿は一段と見映える。></p>

  <div class="big-background-container" style="text-align:center;">
  <a href="/jackets/0" class="big-background-btn">garally</a>
</div>
  </div>

</body>
</html>
