
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Modernize Your Site: Building a YouTube Video Background  </title>
  <meta name="author" content="Sam Norton">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">


  <link rel="stylesheet" href="assets/normalize.css">
  <link rel="stylesheet" href="assets/static_top.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic|Raleway:400,200,300,500,700,600,800,900' rel='stylesheet' type='text/css'>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/header.css"> <!-- Resource style -->
  <link rel="stylesheet" href="assets/static.css">

  <script src="assets/jquery-1.11.1.min.js"></script>
  <script src="assets/device.min.js"></script> <!--OPTIONAL JQUERY PLUGIN-->
  <script src="assets/header.js"></script> <!-- Resource jQuery -->



  <meta name="robots" content="noindex,follow" />
</head>

<body>

  <%= render 'layouts/header' %>

  <div class="pattern"></div>
  <div class="static_container">
        <div class="embed_wrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/Kg5gHl7y3sQ" frameborder="0" allowfullscreen></iframe></div>
    <h1>塩沢紬</h1>
    <p>ユネスコ無形文化遺産に登録されている国の重要無形文化財「越後上布」（麻織物）の技­術・技法を絹織物に受け継ぎ、18世紀後半に誕生した塩沢紬。</p>
    <p>真綿特有のやわらかさと蚊絣（かがすり）と呼ばれる繊細な絣模様が特徴で、独特な上品­さと落ち着きを兼ね備えている。</p>

  <div class="big-background-container" style="text-align:center;">
  <a href="/jackets/0" class="big-background-btn">garally</a>
</div>
  </div>

</body>
</html>
