html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

div#store_area {
  padding-top: 23px;

  display: flex;
   display: -webkit-flex; /* Safari */
   display: -webkit-box
   display:-moz-box;
display:-ms-flexbox;

  -webkit-align-items: center;
  align-items: center;
  -webkit-box-align:center;
  -moz-box-align:center;
  -ms-flex-align:center;

  width: 100vw;
  height: 100vh;
  top: 0px;
  /* justify-content: center; */
  /* background: radial-gradient(ellipse farthest-side at center, #ffffff, #cccccc); */
  color: #b3b3b3;
  font-family: monaco, monospace;
}

.bg {
  position: fixed;
  background-image: url("akiwomankitu.jpg");
  background-size: cover;
  background-attachment: fixed;
  /* -webkit-filter: blur(2px); */
  width: 100vw;
  height: 100vh;
  top: 0px;
  z-index: -100;
}

.pattern {
    background-image:url(pattern.png);
    background-repeat: repeat;
    background-attachment:scroll;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0
}

.overlay {
  width: 100vw;
  height: 100vh;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.45) 0%, rgba(0,0,0,0.38) 17%, rgba(0,0,0,0.30) 35%, rgba(0,0,0,0.29) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.45)), color-stop(17%,rgba(0,0,0,0.38)), color-stop(35%,rgba(0,0,0,0.30)), color-stop(62%,rgba(0,0,0,0.29)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
  /* background: -webkit-linear-gradient(top,  rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.38) 17%,rgba(0,0,0,0.30) 35%,rgba(0,0,0,0.29) 62%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */ */
  /* background: -o-linear-gradient(top,  rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.38) 17%,rgba(0,0,0,0.30) 35%,rgba(0,0,0,0.29) 62%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.38) 17%,rgba(0,0,0,0.30) 35%,rgba(0,0,0,0.29) 62%,rgba(0,0,0,0.4) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.38) 17%,rgba(0,0,0,0.30) 35%,rgba(0,0,0,0.29) 62%,rgba(0,0,0,0.4) 100%); /* W3C */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */ */
}

.lock {
  /* display: flex; */
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-align:center;
  -moz-box-align:center;
  -ms-flex-align:center;

  -webkit-box-pack:center;
  -moz-box-pack:center;
  -ms-flex-pack:center;
  -webkit-justify-content:center;
  justify-content:center;

  width: 100%;
  height: 100%;
  position: fixed;
  top: 23px;
  /* -webkit-filter: blur(1px); */
  /* background: #333333; */
  /* box-shadow: 0 0 30px #2e2e2e inset; */
}

/* .user-input-wrapper { */
/*   width: 300px; */
/*   margin-right: 50px; */
/* } */
/*  */
/* .msg-wrapper { */
/*   position: absolute; */
/*   font-size: 1em; */
/*   height: 2em; */
/* } */
/* .msg-wrapper > .msg { */
/*   position: absolute; */
/*   top: 0; */
/*   left: 0; */
/*   margin: 0; */
/*   overflow: hidden; */
/*   white-space: nowrap; */
/*   transition: opacity 0.5s; */
/* } */
/* .msg-wrapper > .msg.hide { */
/*   opacity: 0; */
/* } */
/*  */
/* .user-input { */
/*   display: flex; */
/*   justify-content: center; */
/*   height: 60px; */
/*   border-radius: 4px; */
/*   background: #262626; */
/*   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1) inset; */
/*   overflow: hidden; */
/* } */
/* .user-input > .code { */
/*   flex: 1; */
/*   box-shadow: -4px 0 10px -4px rgba(0, 0, 0, 0.2); */
/*   transition: flex 0.3s; */
/* } */
/* .user-input > .code.code0 { */
/*   background: #F44336; */
/* } */
/* .user-input > .code.code1 { */
/*   background: #E91E63; */
/* } */
/* .user-input > .code.code2 { */
/*   background: #9C27B0; */
/* } */
/* .user-input > .code.code3 { */
/*   background: #673AB7; */
/* } */
/* .user-input > .code.code4 { */
/*   background: #3F51B5; */
/* } */
/* .user-input > .code.code5 { */
/*   background: #2196F3; */
/* } */
/* .user-input > .code.code6 { */
/*   background: #009688; */
/* } */
/* .user-input > .code.code7 { */
/*   background: #8BC34A; */
/* } */
/* .user-input > .code.code8 { */
/*   background: #FFC107; */
/* } */
/* .user-input > .code.code9 { */
/*   background: #FF9800; */
/* } */
/*  */
/* .hint { */
/*   margin: 1em 0 0; */
/*   text-align: right; */
/*   opacity: 0; */
/*   transition: all 0.3s; */
/*   pointer-events: none; */
/* } */
/* .hint.success { */
/*   color: #9CCC65; */
/*   opacity: 1; */
/* } */
/* .hint.fail { */
/*   color: #EF5350; */
/*   opacity: 1; */
/* } */
/*  */
.palette-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
   display: -webkit-flex; /* Safari */
   display: -webkit-box
   display:-moz-box;
display:-ms-flexbox;

  -webkit-align-items: center;
  align-items: center;
  -webkit-box-align:center;
  -moz-box-align:center;
  -ms-flex-align:center;

  -webkit-box-pack:center;
  -moz-box-pack:center;
  -ms-flex-pack:center;
  -webkit-justify-content:center;
  justify-content:center;
}

.palette-wrapper.success {
  animation: rotation 1s forwards;
}

@keyframes rotation {
  50% {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  100% {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transform: rotate(360deg);
  }
}
.palette {
  position: relative;
  overflow: hidden;
  /* width: 800px; */
  /* height: 800px; */
  padding: 0;
  border-radius: 50%;
  list-style: none;
}

.color {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #555;
  width: 2000px;
  height: 2000px;
  transform-origin: 0% 0%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
.color.n0 {
  background: #F44336;
  transform: rotate(0deg) skewx(54deg);
}
.color.n0:hover {
  background: #EF5350;
  z-index: 10;
  cursor: pointer;
}
.color.n1 {
  background: #DC3C30;
  transform: rotate(36deg) skewx(54deg);
}
.color.n1:hover {
  background: #EC407A;
  z-index: 10;
  cursor: pointer;
}
.color.n2 {
  background: #6F1B7D;
  transform: rotate(72deg) skewx(54deg);
}
.color.n2:hover {
  background: #AB47BC;
  z-index: 10;
  cursor: pointer;
}
.color.n3 {
  background: #512D90;
  transform: rotate(108deg) skewx(54deg);
}
.color.n3:hover {
  background: #7E57C2;
  z-index: 10;
  cursor: pointer;
}
.color.n4 {
  background: #314090;
  transform: rotate(144deg) skewx(54deg);
}
.color.n4:hover {
  background: #5C6BC0;
  z-index: 10;
  cursor: pointer;
}
.color.n5 {
  background: #1C7ECC;
  transform: rotate(180deg) skewx(54deg);
}
.color.n5:hover {
  background: #42A5F5;
  z-index: 10;
  cursor: pointer;
}
.color.n6 {
  background: #01796E;
  transform: rotate(216deg) skewx(54deg);
}
.color.n6:hover {
  background: #26A69A;
  z-index: 10;
  cursor: pointer;
}
.color.n7 {
  background: #74A23F;
  transform: rotate(252deg) skewx(54deg);
}
.color.n7:hover {
  background: #9CCC65;
  z-index: 10;
  cursor: pointer;
}
.color.n8 {
  background: #E2AB05;
  transform: rotate(288deg) skewx(54deg);
}
.color.n8:hover {
  background: #FFCA28;
  z-index: 10;
  cursor: pointer;
}
.color.n9 {
  background: #DA8303;
  transform: rotate(324deg) skewx(54deg);
}
.color.n9:hover {
  background: #FFA726;
  z-index: 10;
  cursor: pointer;
}

.btn {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  /* width: 700px; */
  /* height: 700px; */
  transform: translatex(-50%)translateY(-50%);
  /* background: #333333; */
  /* background-image: url("akiwomankitu.jpg"); */
  /* background-size: cover; */
  /* background-attachment: fixed; */
  /* background-color: #fff; */
  background: radial-gradient(ellipse farthest-side at center, #dddddd, #bbbbbb);
  /* -webkit-filter: blur(3px); */
  border-radius: 50%;
  /* box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.2); */
}

.btn.hide {
  visibility: hidden;
  opacity: 0;
}
