// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bourbon'; // http://bourbon.io/
@import '../partials/variables'; // colors, fonts etc...
@import '../partials/mixins'; // custom mixins
@import '../partials/layout'; // responsive grid and media queries

*, *::after, *::before {
  @include box-sizing(border-box);
}

html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
}

div#store_area {
  position: fixed;
  margin-top: 23px;
  width: 100%;
  height: 100%;
}

.bg {
  position: fixed;
  background-image: url("akiwomankitu.jpg");
  background-size: cover;
  background-attachment: fixed;
  /* -webkit-filter: blur(2px); */
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: -100;
  .pattern {
    background-image:url("pattern.png");
    background-repeat: repeat;
    background-attachment:scroll;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
   }
}

.lock {
  width: 100%;
  height: 100%;
  position: fixed;

  .palette-wrapper {
    width: 100%;
    height: 100%;

    .palette {
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      position: absolute;
      overflow: hidden;
      /* width: 800px; */
      /* height: 800px; */
      padding: 0;
      border-radius: 50%;
      list-style: none;
  }
.btn {
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      position: absolute;
  z-index: 10;
  /* width: 700px; */
  /* height: 700px; */
  /* background: #333333; */
  /* background-image: url("akiwomankitu.jpg"); */
  /* background-size: cover; */
  /* background-attachment: fixed; */
  /* background-color: #fff; */
  background: radial-gradient(ellipse farthest-side at center, #dddddd, #bbbbbb);
  /* -webkit-filter: blur(3px); */
  border-radius: 50%;
  /* box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.2); */
}
}
}

.cd-gallery {
  list-style-type: none;
  padding-left: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  // レスポンシブ
  // height: 450px;
  position: absolute;
  @include clearfix;
  z-index: 30;

  > li {
    overflow: hidden;
    position: relative;
    // top: 50vh;
    // transform: translateY(-50%);
    // background: $color-5;
    // border-radius: .25em;
    // box-shadow: 0 1px 4px rgba(#000, .1);

    > a {
      display: block;
              }
      }

      @include MQ(M) {
        width: 450px;
        > li {
          // @include column(.48); // see partials > _layout.scss
          // margin-right: 4%;
          &:nth-of-type(2n) {
            margin-right: 0;
                      }
              }
      }

      @include MQ(L) {
        width: 450px;
        > li {

          .no-touch &:hover .cd-dots li.selected a {
            /* Slider dots - change background-color of the selected dot when hover over the its parent list item */
            background: $color-1;
            border-color: $color-1;
                      }

                      .no-touch &:hover .cd-dots a {
                        /* Slider dots - change dot border-color when hover over the its parent list item */
                        border-color: lighten($color-1, 40%);
                      }

                      .no-touch &:hover li.move-right,
                      .no-touch &:hover li.move-left {
                        /* show preview items when hover over the its parent list item */
                        opacity: 0.3;
                      }
              }
      }
}

.cd-item-wrapper {
  position: relative;
  overflow: hidden;
  margin: 3em 0;

  li {
    position: absolute;
    top: 0;
    left: 25%;
    height: 100%;
    width: 50%;
    opacity: 0;
    background: rgba(0,0,0,0);

    /* Force Hardware Acceleration */
    @include transform(translateZ(0));
    @include backface-visibility(hidden);
    will-change: transform, opacity;

    @include transform(translateX(200%) scale(0.7));
    @include transition(transform .4s, opacity .4s);

    &.selected {
      /* selected item */
      position: relative;
      opacity: 1;
      @include transform(translateX(0) scale(1.3));
              }

              &.move-left {
                /* item on left - preview visible */
                @include transform(translateX(-100%) scale(0.7));
                opacity: 0.3;
              }

              &.move-right {
                /* item on right - preview visible */
                @include transform(translateX(100%) scale(0.7));
                opacity: 0.3;
              }

              &.hide-left {
                /* items hidden on the left */
                @include transform(translateX(-200%) scale(0.7));
              }

              img {
                display: block;
                width: 100%;
              }
      }

      @include MQ(L) {

        li.move-left,
        li.move-right {
          /* hide preview items */
          opacity: 0;
              }

              li.focus-on-left {
                /* class added to the .selected and .move-right items when user hovers over the .move-left item (item preview on the left) */
                @include transform(translateX(3%) scale(1.25));


                &.move-right {
                  @include transform(translateX(103%) scale(0.7));
                      }
              }

              li.focus-on-right {
                /* class added to the .selected and .move-left items when user hovers over the .move-right item (item preview on the right) */
                @include transform(translateX(-3%) scale(1.25));

                &.move-left {
                  @include transform(translateX(-103%) scale(0.7));
                      }
              }

              li.hover {
                /* class added to the preview items (.move-left or .move-right) when user hovers over them */
                opacity: 1 !important;

                &.move-left {
                  @include transform(translateX(-97%) scale(0.75));
                      }

                      &.move-right {
                        @include transform(translateX(97%) scale(0.75));
                      }
              }
      }
}

.cd-dots {
  /* not visible in the html document - created using jQuery */
  position: absolute;
  // bottom: 20%;
  @include center(x); // see partials > _mixins.scss
  @include clearfix;
  padding: .2em;

  li {
    display: inline-block;
    float: left;
    margin: 0 5px;
    pointer-events: none;

    &.selected a {
      background: $color-1;
      border-color: $color-1;
              }
      }

      a {
        display: block;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        border: 1px solid lighten($color-1, 40%);

        /* image replacement */
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;

        @include transition(border-color .2s, background-color .2s);
      }

      @include MQ(L) {

        li {
          pointer-events: auto;

          &.selected a {
            background: darken($color-5, 20%);
            border-color: darken($color-5, 20%);
                      }
              }

              a {
                height: 8px;
                width: 8px;
                border-color: darken($color-5, 20%);
                /* fix a bug in IE9/10 - transparent anchor not clickable */
                background-color: rgba(#FFF, 0);
              }
      }
}

.cd-item-info {
  // height: 90px;
  // line-height: 90px;
  padding: 0 2em;
  text-align: center;
  @include clearfix;

  // レスポンシブ
  img{height: 39px;}

  b, .cd-price, .cd-new-price {
    font-weight: bold;
    font-size: 2rem;
      }

      b {
        float: left;

        a {
          color: $color-1;
              }
      }

      .cd-price, .cd-new-price {
        /* .cd-new-price not visible in the html document - created using jQuery */
        // float: right;
      }

      .cd-price {
        color: $color-2;
        position: relative;
        margin-left: 10px;
        @include transition(color .2s);

        &::after {
          /* crossing line - visible if price is on sale */
          content:'';
          position: absolute;
          @include center(y);
          left: 0;
          height: 2px;
          width: 0%;
          background-color: $color-2;
          opacity: 0;
          @include transition(width .2s 0s, opacity 0s .2s);
              }

              &.on-sale::after {
                opacity: 1;
                width: 100%;
                @include transition(width .2s 0s, opacity 0s 0s);
              }
      }

      .cd-new-price {
        /* new price - visible if price is on sale */
        color: $color-4;
        opacity: 0;
        @include transform(translateX(5px));
        @include transition(transform .2s, opacity .2s);

        &.is-visible {
          @include transform(translateX(0));
          opacity: 1;
              }
      }

      @include MQ(M) {
        b, .cd-price, .cd-new-price {
          font-size: 2.4rem;
              }
      }
}

.no-js .move-right,
.no-js .move-left {
  display: none;
}

.color {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #555;
  width: 2000px;
  height: 2000px;
  @include transform-origin(0% 0%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
.color.n0 {
  background: #F44336;
  @include transform(rotate(0deg) skewx(54deg));
}
.color.n0:hover {
  background: #EF5350;
  z-index: 10;
  cursor: pointer;
}
.color.n1 {
  background: #DC3C30;
  @include transform( rotate(36deg) skewx(54deg));
}
.color.n1:hover {
  background: #EC407A;
  z-index: 10;
  cursor: pointer;
}
.color.n2 {
  background: #6F1B7D;
  @include transform( rotate(72deg) skewx(54deg));
}
.color.n2:hover {
  background: #AB47BC;
  z-index: 10;
  cursor: pointer;
}
.color.n3 {
  background: #512D90;
  @include transform( rotate(108deg) skewx(54deg));
}
.color.n3:hover {
  background: #7E57C2;
  z-index: 10;
  cursor: pointer;
}
.color.n4 {
  background: #314090;
  @include transform( rotate(144deg) skewx(54deg));
}
.color.n4:hover {
  background: #5C6BC0;
  z-index: 10;
  cursor: pointer;
}
.color.n5 {
  background: #1C7ECC;
  @include transform( rotate(180deg) skewx(54deg));
}
.color.n5:hover {
  background: #42A5F5;
  z-index: 10;
  cursor: pointer;
}
.color.n6 {
  background: #01796E;
  @include transform( rotate(216deg) skewx(54deg));
}
.color.n6:hover {
  background: #26A69A;
  z-index: 10;
  cursor: pointer;
}
.color.n7 {
  background: #74A23F;
  @include transform( rotate(252deg) skewx(54deg));
}
.color.n7:hover {
  background: #9CCC65;
  z-index: 10;
  cursor: pointer;
}
.color.n8 {
  background: #E2AB05;
  @include transform( rotate(288deg) skewx(54deg));
}
.color.n8:hover {
  background: #FFCA28;
  z-index: 10;
  cursor: pointer;
}
.color.n9 {
  background: #DA8303;
  @include transform( rotate(324deg) skewx(54deg));
}
.color.n9:hover {
  background: #FFA726;
  z-index: 10;
  cursor: pointer;
}


/* --------------------------------

responsive

-------------------------------- */

// .palette {
//   width: 330px;
//   height: 330px;
//   @include MQ(M) {
//     width: 610px;
//     height: 610px;
// }
// @include MQ(XL) {
//   width: 680px;
//   height: 680px;
// }
// }

// .btn{
//   width: 280px;
//   height: 280px;
//   @include MQ(M) {
//     width: 520px;
//     height: 520px;
// }
// @include MQ(XL) {
//   width: 580px;
//   height: 580px;
// }
// }
