<div id='cssmenu'>
  <ul>
    <li><a href='/'>Thousand Jackets</a></li>
    <li class='active'><a href='#'>Products</a>
      <ul>
        <li><a href='/jackets/0'>Jackets</a></li>
        <!-- <li><a href='/tie'>Tie</a></li> -->
        <!-- <li><a href='/shirts'>Shirts</a></li> -->
      </ul>
    </li>
    <li class='active'><a href='#'>History</a>
      <ul>
        <li><a href='/history/honshiozawa'>本塩沢</a></li>
        <li><a href='/history/shiozawatsumugi'>塩沢紬</a></li>
        <li><a href='/history/tokamachigasuri'>十日町絣</a></li>
        <li><a href='/history/tokamachiakashichidimi'>十日町明石縮</a></li>
        <li><a href='/history/ojiyachijimi'>小千谷縮</a></li>
        <li><a href='/history/ojiyathumugi'>小千谷紬</a></li>
      </ul>
    </li>
    <!-- <li><a href='static'>About</a></li> -->
  </ul>
</div>

