<div id='cssmenu'>
  <ul>
    <li><a href='/'>Thousand Jackets</a></li>
    <li class='active'><a href='#'>Products</a>
      <ul>
        <li><a href='/jackets'>Jackets</a></li>
        <li><a href='/tie'>Tie</a></li>
        <li><a href='/shirts'>Shirts</a></li>
      </ul>
    </li>
    <li class='active'><a href='#'>History</a>
      <ul>
        <li><a href='/static'>絞</a></li>
      </ul>
    </li>
    <li><a href='static'>About</a></li>
  </ul>
</div>

